
body {
  background-color: darkgreen;
}

#board {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: black;
  position: absolute;
}

.walker {
  background-color: teal;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
}

#start1 {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 275px;
  left: 90px;
  color: whitesmoke;
  font-style: bold;
  font-size:xx-large;
}
#start2 {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 275px;
  left: 90px;
  color: whitesmoke;
  font-style: bold;
  font-size:xx-large;
}
#start3 {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 275px;
  left: 90px;
  color: whitesmoke;
  font-style: bold;
  font-size:xx-large;
}
#start4 {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 275px;
  left: 90px;
  color: whitesmoke;
  font-style: bold;
  font-size:xx-large;
}
#whoit {
  width: 600px;
  height: 200px;
  font-size: xx-large;
  color:whitesmoke;
  font-style: bold;
  position: absolute;
}
#classic {
  width: 100px;
  height: 20px;
  position: absolute;
  background-color: violet;
  border: rgb(236, 236, 236) 1px solid;
  box-shadow: violet 2px 2px, violet -2px 2px, violet 2px -2px, violet -2px -2px;
  vertical-align: middle;
  padding: 1px;
  padding-left: 30px;
  font-style: bold;
} /* bg voilet 236 236 236 border*/
#competitive {
  width: 111px;
  height: 20px;
  position: absolute;
  background-color: #00BB2D;
  border: rgb(236, 236, 236) 1px solid;
  box-shadow: #00BB2D 2px 2px, #00BB2D -2px 2px, #00BB2D 2px -2px, #00BB2D -2px -2px;
  vertical-align: middle;
  padding: 1px;
  font-style: bold;
  text-align: center;
}
#freezetag {
  width: 111px;
  height: 40px;
  position: absolute;
  background-color: #24e7cd;
  border: rgb(255, 0, 0) 1px solid;
  box-shadow: #24e7cd 2px 2px, #24e7cd -2px 2px, #24e7cd 2px -2px, #24e7cd -2px -2px;
  vertical-align: middle;
  padding: 1px;
  font-style: bold;
  text-align: center;
}
