
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
#midline {
  background-color: white;
  width: 1px;
  position: absolute;
  top: 0px;
}
#ball {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
   left: 100px;
   top: 100px;    
}
.paddle {
  background-color: white;
  width: 20px;
  height: 130px;
  border-radius: 1px;
  border-width: 1px;
}
#rightpaddle {
  position: absolute;
  left: 200px;    
}
#leftpaddle {
  
  position: absolute;
  left: 400px; 
}
#scoreP1 {
  background-color: black;
  text-shadow: gold 1px 1px, gold -1px 1px, gold 1px -1px, gold -1px -1px;
  color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 60px;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
#scoreP2 {
  background-color: black;
  text-shadow: gold 1px 1px, gold -1px 1px, gold 1px -1px, gold -1px -1px;
  color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 60px;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
#start{
  width: 100px;
  height: 20px;
  position: absolute;
  color: white;
  background-color: black;
  border: rgb(236, 236, 236) 1px solid;
  vertical-align: middle;
  text-align: center;
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: bold; 
}
#victory{
    width: 200px;
    height: 200px;
    font-size: xx-large;
    color:whitesmoke;
    font-style: bold;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}